asgiref==3.11.1
# Django==6.0.3
Django==5.2
django-filter==25.2
djangorestframework==3.17.1
# djangorestframework_simplejwt==5.5.1
djoser==2.3.3
gunicorn==23.0.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2

# Django==5.1.1
# djangorestframework==3.15.2
# djoser==2.3.1
# webcolors==1.11.1
# psycopg2-binary==2.9.11
# pillow==11.0.0
# pytest==8.3.3
# pytest-django==4.9.0
# pytest-pythonpath==0.7.3
# PyYAML==6.0.1